
/* .theme-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  } */

  .dark {
    /* Dark theme styles */
    background-color: black;
    color: whitesmoke;
  }

  .light {
    /* Light theme styles */
    background-color: #fff;
    color: #333;
  }
  .button {
      background-color: #514a92;
  }